*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Rubik Bubbles"; */
    text-decoration: none;
}
body{
    background-color: #0a5d8c;
}
/* ==============header====================  */
header{
    top: 0;
    background-color:#97d700;
    height: 100px;
    width: 100%;
    align-items: center;
    display: grid;
    justify-content:space-evenly;
    position: fixed;
    grid-template-columns: 200px  600px 10px;
}
h1{
    color: white;
    /* cursor: pointer; */
    font-weight: 900;
}
.heder_class{
    /* background: #000; */
    display: flex;
      font-size: 20px;
    padding: 2px;
    
}
.heder_class p{
    font-weight: 700;
    cursor: pointer;
    margin-right: 52px;
}
.heder_class a{
    font-weight: 700;
    color: black;
}
header i {
    color: blue;
    cursor: pointer;
    font-size: 20px;
}
/* ===================main============ */
main{
    margin-top: 120px;
    width: 100%;
    height: 340px;
    /* position:absolute; */
}
main h2{
    padding-top: 25px;
    margin-left: 180px;
    font-size: 40px;
    color: white;
}
.main_class1 p{
    color: white;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 180px;
    font-weight: 700;
}
.main_lokation{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content:space-evenly;
    width: 100%;
    /* background-color: #97d700; */
}
.Button_class{
    margin-top: 80px;
    /* margin-left: 53px; */
    background-color: white;
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 900;
    color: #000000af;
    font-size: 20px;
}
.qidruv_class{
    margin-top: 80px;
    margin-left: 53px;
    width: 260px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
    background-color:#18aaf2;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
 }
 .Button_class i{
    margin-left: 30px;
    font-size:19px;
    color: #18aaf2;
    cursor: pointer;
 }
 .viloytlar_class{
    width: 900px;
    margin-left: 19%;
    height: 500px;
    background-color: white;
    /* position:absolute; */
    border-radius: 20px;
 }
 .viloytlar_class  .viloytlar_class_h3{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
 }
 .viloytlar_class .viloytlar_class_h3 h3{
    margin-left: 40px;
 }
 /* =========section=========== */
 section{
    width: 100%;
    height:800px;
    /* padding: 0px 139px 0px 180px; */
    display: grid;
    grid-template-rows: auto auto;
    justify-content:space-evenly;
    align-items: center;
 }
 .section_class{
    margin-left: 20px;
 }
 .section_class h3{
    font-size: 42px;
    color: white;
 }
 .section_class p{
    color: white;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
 }
 .section_jaoylashuv{
    display: grid;
    margin-top: 50px;
   width: 100%;
   height: 100%;
   /* background-color: aqua; */
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
 }
 .xizmat {
    background-color: white;
    width: 380px;
    height: 380px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Kuchli va aniqlangan soya */
}
.xizmat .img_div img{
    width: 80px;
    margin: 30px 30px 30px 30px;
    
}
 .xizmat i{
    font-size: 70px;
    margin: 30px 30px 30px 30px;
    color: #18aaf2;
 }
 .xizmat h4{
    font-size: 26px;
    margin-left: 30px;
    margin-bottom: 10px;
 }
 .xizmat p{
    margin: 30px;
    font-size: 18px;
    font-weight: 600;
    /* background-color: #97d700; */
 }
 .xizmat a{
    color: red;
 }