*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Rubik Bubbles"; */
    text-decoration: none;
}
body{
    background-color: #0a5d8c;
}
/* ==============header====================  */
header{
   /* z-index: 1; */
    top: 0;
    background-color:#97d700;
    height: 100px;
    width: 100%;
    align-items: center;
    display: grid;
    justify-content:space-evenly;
    position: fixed;
    grid-template-columns: 200px  600px 10px;
}
h1{
    color: white;
    /* cursor: pointer; */
    font-weight: 900;
}
.heder_class{
    /* background: #000; */
    display: flex;
      font-size: 20px;
    padding: 2px;
    
}
.heder_class p{
    font-weight: 700;
    cursor: pointer;
    margin-right: 52px;
}
.heder_class a{
    font-weight: 700;
    color: black;
}
header i {
    color: blue;
    cursor: pointer;
    font-size: 20px;
}
/* ===================main============ */
main{
    margin-top: 120px;
    width: 100%;
    height: 340px;
    /* position:absolute; */
}
main h2{
    padding-top: 25px;
    margin-left: 180px;
    font-size: 40px;
    color: white;
}
.main_class1 p{
    color: white;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 180px;
    font-weight: 700;
}
.main_lokation{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content:space-evenly;
    width: 100%;
    /* background-color: #97d700; */
}
.button_qayerdan{
    margin-top: 80px;
    /* margin-left: 53px; */
    background-color: white;
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 900;
    color: #000000af;
    font-size: 20px;
    cursor: pointer;
}
.button_qayerga{
   cursor: pointer;
   margin-top: 80px;
    /* margin-left: 53px; */
    background-color: white;
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 900;
    color: #000000af;
    font-size: 20px;
}
.button_qachon{
   cursor: pointer;
   margin-top: 80px;
    /* margin-left: 53px; */
    background-color: white;
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 900;
    color: #000000af;
    font-size: 20px;
}
.qidruv_class{
    margin-top: 80px;
    margin-left: 53px;
    width: 260px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
    background-color:#18aaf2;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
 }
 .button_qachon i{
    margin-left: 30px;
    font-size:19px;
    color: #18aaf2;
    cursor: pointer;
    cursor: pointer;
 }
 .viloytlar_class{
    width: 760px;
    padding: 15px;
    margin-left: 23%;
    height: 400px;
    background-color:#f5f8fa;
    /* position:absolute; */
    border-radius: 20px;
    margin-bottom: 25px;
 }
 .viloytlar_class  .viloytlar_class_h3{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
 }
 .viloytlar_class .viloytlar_class_h3 h3{
    margin-left: 40px;
    background-color: #f5f8fa;
 }
 .viloyat12{
    text-align: center;
    background-color: #f5f8fa;
    display: grid;
    /* width: 300px; */
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
 }
 .viloyat12 div{
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    /* text-align: center; */
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    /* font-weight: 600; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 

 }
 /* =========section=========== */
 section{
    width: 100%;
    height:800px;
    /* padding: 0px 139px 0px 180px; */
    display: grid;
    grid-template-rows: auto auto;
    justify-content:space-evenly;
    align-items: center;
 }
 .section_class{
    margin-left: 20px;
 }
 .section_class h3{
    font-size: 42px;
    color: white;
 }
 .section_class p{
    color: white;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
 }
 .section_jaoylashuv{
    display: grid;
    margin-top: 50px;
   width: 100%;
   height: 100%;
   /* background-color: aqua; */
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
 }
 .xizmat {
    background-color: white;
    width: 380px;
    height: 380px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}
.xizmat .img_div img{
    width: 80px;
    margin: 30px 30px 30px 30px;
    
}
 .xizmat i{
    font-size: 70px;
    margin: 30px 30px 30px 30px;
    color: #18aaf2;
 }
 .xizmat h4{
    font-size: 26px;
    margin-left: 30px;
    margin-bottom: 10px;
 }
 .xizmat p{
    margin: 30px;
    font-size: 18px;
    font-weight: 600;
    /* background-color: #97d700; */
 }
 .xizmat a{
    color: red;
 }
 /* ===== loeder */
.loader_wraper{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: black;
   z-index: 100;

}
 .loader {
   z-index: 60;
   box-sizing: border-box;
   display: inline-block;
   width: 50px;
   height: 80px;
   border-top: 5px solid #fff;
   border-bottom: 5px solid #fff;
   position: relative;
   background: linear-gradient(#FF3D00 30px, transparent 0) no-repeat;
   background-size: 2px 40px;
   background-position: 50% 0px;
   animation: spinx 5s linear infinite;
 }
 .loader:before, .loader:after {
   content: "";
   width: 40px;
   left: 50%;
   height: 35px;
   position: absolute;
   top: 0;
   transform: translatex(-50%);
   background: rgba(255, 255, 255, 0.4);
   border-radius: 0 0 20px 20px;
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: 0 0px;
   animation: lqt 5s linear infinite;
 }
 .loader:after {
   top: auto;
   bottom: 0;
   border-radius: 20px 20px 0 0;
   animation: lqb 5s linear infinite;
 }
 @keyframes lqt {
   0%, 100% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0% 0px;
   }
   50% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0% 40px;
   }
   50.1% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0% -40px;
   }
 }
 @keyframes lqb {
   0% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0 40px;
   }
   100% {
     background-image: linear-gradient(#FF3D00 40px, transparent 0);
     background-position: 0 -40px;
   }
 }
 @keyframes spinx {
   0%, 49% {
     transform: rotate(0deg);
     background-position: 50% 36px;
   }
   51%, 98% {
     transform: rotate(180deg);
     background-position: 50% 4px;
   }
   100% {
     transform: rotate(360deg);
     background-position: 50% 36px;
   }
 }
     